
<div class="spacer"></div>
<!--  Formularz dodawania wizyty  -->
<div class="container">
    <div class="row">
        <!--        <div class="col-md-6 offset-md-3">-->
        <div class="col-md-6">
            <div class="card">
                <h4 class="card-header">Dodaj wizytę Medicover</h4>
                <form method="post">
                   
                    <div class="form-group col-md-12">
                        <label for="title">Imię i nazwisko</label>
                        <input name="patient_name" class="form-control" id="patient_name" value="" required>
                    </div>
                    
                    <div class="form-group col-md-12">
                        <label for="doctor">Specjalista</label>
                        <input name="doctor" class="form-control" value="{{ doctor or '' }}">
                    </div>
                    
                    <div class="form-group col-md-12">
                        <label for="service">Usługa</label>
                        <input type="text" class="form-control" name="service" value="{{ service or '' }}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="referral">Numer skierowania</label>
                        <input type="text" class="form-control" name="referral" value="">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="referral_accepted">Skierowanie zaakceptowane</label><br>
                        <input type="radio" name="referral_accepted" value="1" checked> Tak <br>
                        <input type="radio" name="referral_accepted" value="0"> Nie <br>
                    </div>
                    
                    <div class="form-group col-md-12">
                        <input type="submit" value="Zapisz">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
