{% extends 'base.html' %}

{% block content %}
{% block header %}
   <div class="spacer" style="margin-bottom: 1em;"></div>
    <h1>{% block title %}Wizyty{% endblock %}</h1>
{% endblock %}

<!--table-hover-->
<table class="table table-striped">
    <tr>
        <td>Lp.</td>
        <td>Imię i nazwisko</td>
        <td>Data</td>
        <td>Specjalista</td>
        <td>Cena</td>
        <td>Rodzaj usługi</td>
        <td>Forma płatności</td>
        <td>Czy przeszło</td>
    </tr>
    {% for visit in visits %}
        <tr>
            <td>{{ loop.index0 + 1 }}</td>
            <td>{{ visit.patient_name }}</td>
<!--            <td>{{ visit.date.strftime('%d.%m.%Y %H:%M') }}</td>-->
            <td>{{ visit.date.strftime('%d.%m.%Y') }}</td>
            <td>{{ visit.doctor.doctor_name }}</td>
            <td>{{ visit.price.price }}</td>
            <td>{{ visit.service.name }}</td>
            <td>{{ visit.payment }}</td>
            <td>{% if not visit.referral_accepted %} Nie dotyczy
               {% else %}
               {{ visit.referral_accepted }} {% endif %}
            </td>
            <td><a href="/{{ visit.id }}" class="btn btn-warning">Edytuj</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}