
.top-nav{
    background-color: #6ECEB2;
}

.left-nav {
    border-right: 1px solid #e8e8e8;
/*    background-color: #c7d4ea;*/
    padding-top: 2em;
/*    height: 800px;*/
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
}

.spacer {
    margin-bottom: 2em
}

.nav-space {
    margin-top: 50px;
}

ul .nav-item {
    border-bottom: 1px solid #eee;
}

ul .nav-item a {
    color: #555;
}

ul .nav-item :hover {
    background-color: #eee;
}

.active {
    color: aliceblue;
    background-color: #ddd;
}

.nav-tabs {
    margin-top: 20px;
    margin-bottom: 10px;
}

.nav-tabs .nav-item {
    border-bottom: none;
}

.nav-tabs .nav-item .active {
    color: aliceblue;
}