{% extends 'base.html' %}

{% block content %}

{% block header %}
<h1>{% block title %}Nowa wizyta{% endblock %}</h1>
{% endblock %}

{% include 'components/add_new_tabs.html' %}
{% include 'components/service_search.html' %}

<div class="spacer"></div>
<!--  Formularz dodawania wizyty  -->
{% if data and tab == 'commercial' %}
    {% include 'forms/commercial.html' %}
{% elif data and tab == 'medicover' %}
    {% include 'forms/medicover.html' %}
{% elif data and tab == 'pzu' %}
    jeszcze nie ma
{% elif not data %}
    Brak powyższej konfiguracji w cenniku
{% endif %}
{% endblock %}

