{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Wizyty{% endblock %}</h1>
{% endblock %}

{% block content %}

<!--  Wyszukaj Pacjentów  -->
<div class="container">
    <div class="row">
        <div class="card col-md-9">
            <h5 class="card-header">Wyszukaj pacjentów</h5>
            <div class="card-body">
            <form name="myform" method="get">
                <div class="form-row">
                    <div class="col-md-5">
                        <label for="start">Data początkowa:</label>
                        <input type="date" name="start_date" value="{{ start_date }}" placeholder="Data początkowa">
                    </div>
                    <div class="col">
                        <label for="start">Data końcowa:</label>
                        <input type="date" name="end_date" value="{{ end_date }}">
                    </div>
                </div>
                <div class="form-row"> 
<!--                   Patient name                   -->
                    <div class="col-md-4">
                        <label for="name">Pacjent</label>
                        <input list="name" name="name" value="{{name}}" placeholder="Wybierz pacjenta">
                        <datalist id="name">
                            {% for visit in visits %}
                            <option value="{{ visit.patient_name }}">
                                {% endfor %}
                        </datalist>
                    </div>
<!--                    Doctor name   -->
                    <div class="col-md-4">
                        <label for="doctor">Specjalista</label>
                        <input list="doctor" name="doctor" value="{{ doctor }}" placeholder="Wybierz specjalistę">
                        <datalist id="doctor">
                            {% for f in form.doctors %}
                            <option value="{{ f.doctor_name }}">
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="col-md-4">
                        <label for="doctor">Forma płatności</label>
                        <input list="payment" name="payment" value="{{ payment }}" placeholder="Wybierz formę płatności">
                        <datalist id="payment">
                            {% for f in form.payments %}
                            <option value="{{ f.payment }}">
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                <div class="form-group">

                </div>
                <div class="form-row">
                   <div class="col-md-2">
                    <input class="btn btn-success" type="submit" value="Szukaj">
                   </div>
                    <a href="{{ url_for('reception.search_data') }}" class="btn btn-primary">Wyczyść</a>
                </div>
            </form>
            </div>
        </div>
        <div class="card col-md-3">
            <h5 class="card-header">Informacje</h5>

            <table class="table table-hover card-body">
                <tr>
                    <td>Suma pacjentów</td>
                    <td>{{ patient_sum }}</td>
                </tr>
                <tr>
                    <td>Suma przychodu</td>
                    <td>{{ revenue }}</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="spacer"></div>
    <div class="row">

        <table class="table table-striped">
            <tr>
                <td>Lp.</td>
                <td>Imię i nazwisko</td>
                <td>Data</td>
                <td>Specjalista</td>
                <td>Forma płatności</td>
                <td>Cena</td>
                <td>Rodzaj usługi</td>
                <td>Edytuj</td>
            </tr>
            {% for visit in visits %}
            <tr>
                <td>{{ loop.index0 + 1 }}</td>
                <td class="patient_search">{{ visit.patient_name }}</td>
                <td>{{ visit.date.strftime('%H:%M %d.%m.%Y') }}</td>
                <td class="doctor_search">{{ visit.doctor.doctor_name }}</td>
                <td class="payment_search">{{ visit.payment }}</td>
                <td>{{ visit.price.price }}</td>
                <td>{{ visit.service.name }}</td>
                <td><a href="/{{ visit.id }}" class="btn btn-info">Edytuj</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}